<div id="grid">
  <div></div>
  <main>
    <h1>Tic Tac Toe</h1>
    <form (change)="changeGameType($event)">
      <label><input type="radio" name="typeGame" value="1" />PvC</label>
      <label
        ><input
          type="radio"
          name="typeGame"
          checked="true"
          value="2"
        />PvP</label
      >
    </form>
    <div>
      <p>{{ playerNick[0] }}: {{ playerCountWins[0] }}</p>
      <p>{{ playerNick[1] }}: {{ playerCountWins[1] }}</p>
    </div>
    <div id="game">
      <ng-container
        *ngFor="let value of values; let i = index"
        [ngSwitch]="value"
      >
        <!-- When Wins -->
        <ng-container
          *ngIf="winPosition.includes(i); then ifWin; else elseWin"
        ></ng-container>
        <ng-template #ifWin
          ><div class="winner" id="field{{ i }}">{{ value }}</div>
        </ng-template>
        <ng-template #elseWin>
          <!-- Empty -->
          <div
            *ngSwitchCase="''"
            (click)="whenClicked($event)"
            id="field{{ i }}"
          ></div>
          <!-- Circle -->
          <div *ngSwitchCase="'O'" class="circle" id="field{{ i }}">
            {{ value }}
          </div>
          <!-- Cross -->
          <div *ngSwitchCase="'X'" class="cross" id="field{{ i }}">
            {{ value }}
          </div>
        </ng-template>
      </ng-container>
    </div>
    <div>
      <p>
        {{ messageStatus }}
      </p>
    </div>
    <button (click)="newGame()" [disabled]="!countCurrentPlay">
      {{ msgButtonStart }}
    </button>
  </main>
  <footer>
    <p>Developed by Matheus Garrido &copy; {{ date }}</p>
  </footer>
</div>
